<template>
<div class="d-flex">
  <Photo  v-for="item of items"
            v-bind:key="item.id"
            v-bind="item">

  </Photo>
</div>
</template>

<script>
import Photo from "@/components/Photo";

export default {
  name: "List",
  props:{
    items:{
      type: [Array, String],
      default:()=> [],
      required: true,
      valid:(val)=>{
       return  val.length
      }
    }
  },
  components: { Photo}
}

</script>

<style scoped>
.d-flex{
  display: flex;
  flex-wrap: wrap;
justify-content: space-around;
}
</style>