<template>
<div >
  <p><b>photo title: </b>{{title}}</p>
  <img class="photo" :src="thumbnailUrl" alt="">
</div>
</template>

<script>
export default {
  name: "Photo",
  props:{
    title:{},
    thumbnailUrl:{}
  }
}
</script>

<style scoped>
div{
  border: 1px solid;
  padding: 0 10px;
  width: 40%;
}
.photo{
  transition: 0.5s;
}
.photo:hover{
  transform: rotate(90deg);
}
</style>