<template>
  <div id="app">
    <List v-bind:items="photos">
    </List>
  </div>
</template>

<script>


 import List from "@/components/List";

export default {
  name: 'App',

  props:{},

  data:()=>({
      /*users: [],*/
      photos: [],
  }), // data: function(){}

  computed:{},

  components: {List},

   beforeMount() {
     /*this.getUsers()*/
     this.getPhotos()
   },

   methods: {
     /*getUsers(){
       fetch("https://jsonplaceholder.typicode.com/users?_limit=1")
       .then((res)=>res.json())
       .then((users)=>{
         this.users = users
         console.log(this.users)
       })
     },*/
     getPhotos(){
       fetch("https://jsonplaceholder.typicode.com/photos?_limit=10")
       .then((res)=>res.json())
       .then((photos)=>{

         this.photos = photos
         console.log(this.photos)
       })
     }
   }
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;

}
</style>
